* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #FFFFFF;
    box-sizing: border-box;
    font-family: 'Alegreya';
}

body {
    background-color:  #002244;
    padding: 10px;
    overflow-x: hidden;
}

.flag {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px
}

.btn-container {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00509E;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 20px;
}

.btn:hover {
    background-color: #7EC8E3;
}

#content {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-top: 15px; 
    text-align: center;
    max-height: 100vh;
}

#content img {
    flex: 0 0 300px 400px; 
    margin-right: 20px; 
    border-radius: 10px; 
}

#content p {
    flex: 1;
    font-size: 21px;
    color: #FFFFFF;
    line-height: 1.6;
}

#content button {
    text-align: center;
}

h1 {
    text-align: center;
    color: #7EC8E3;
    padding-top: 10px;
}

p {
    text-align: center;
    color: #7EC8E3;
    padding-top: 20px;
    line-height: 1.5rem;
    width: 80%;
    margin: 0 auto 20px auto;
}

form {
    background-color: #00509E; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000000; 
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    border: 3px solid #7EC8E3; 
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #7EC8E3;
}

input{
    padding: 5px;
    background-color: #FFFFFF;
    color: #00509E;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #002244;
    color: #FFFFFF;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #7EC8E3;
    color: #002244;
}

#result {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    color: #7EC8E3;
    font-weight: bold;
    padding: 30px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 32px;
    }
    p {
        font-size: 18px;
        width: 95%;
    }
    form {
        padding: 10px;
    }
    label {
        font-size: 14px;
    }
    input {
        font-size: 14px;
    }
    input[type="submit"] {
        font-size: 14px;
        padding: 10px;
    }
}